.rotate {
	animation: banner-rotate 15s infinite;
}

@keyframes banner-rotate {
	0% {
		transform: translateX(5%);
	}
	100% {
		transform: translateX(-50%);
	}
}

.projects img {
    filter: brightness(75%);
}
