.rotate {
	animation: banner-rotate 15s infinite;
}

@keyframes banner-rotate {
	0% {
		transform: translateX(5%);
	}

	100% {
		transform: translateX(-50%);
	}
}

.scroll-banner-container {
	width: 100%;
	font-family: Montserrat;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}

.scroll-banner-container .scroll {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: fit-content;
	white-space: nowrap;
	animation: loop 30s linear infinite;
}


@keyframes loop {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-50%);
	}
}

.item {
	display: flex;
	align-items: center;
	gap: 0 0.2rem;
	padding: 0.7rem 1rem;
	margin: 0rem 1rem;
	border-radius: 0.4rem;
	white-space: nowrap;
}

.projects img {
	filter: brightness(75%);
}
