@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	background-color: #beb2a9;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	color: #404d56;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

* {
	cursor: url("/images/crosshair.png") 32 32, auto;
}

.scroll * :not(a, button) {
	cursor: url("/images/crosshair_grab.png") 32 32, auto;
}

a,
button,
i,
.crosshair {
	cursor: url("/images/crosshair_select.png") 32 32, auto;
}

h1,
h2,
h3,
a,
header,
input,
textarea,
button {
	font-family: "VT323", monospace;
}

/* width */
::-webkit-scrollbar {
	width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #beb2a9;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #404d56;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2c4658;
}

.projects {
	color: #00d0d0;
}

.project {
	min-height: 420px;
}

.background-solid-gadient {
	background: linear-gradient(180deg, #404d56 50%, #beb2a9 50%);
}

.hidden-before-scroll {
	opacity: 0;
	filter: blur(2px);
	transform: translateX(100%);
	transition: all 1s;
}

.show-on-scroll {
	opacity: 1;
	filter: blur(0px);
	transform: translateX(0);
}

.scroll::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

@media screen and (min-width: 768px) {
	.card {
		min-width: 24rem;
	}
}

.card {
	min-height: 22rem;
}

img {
	display: block;
}
